

.landing{
    background-color: white;
    border-radius: 10px;
    
}
.form-main-div {
    /* justify-content: center; */
    display: flex;
    margin: 1% 1% 0 2%;
    padding-left: 2%;
}

.stageDetail {
    margin: 0 0 0 6%;
    width: 50%;
}