.goBack {
    border: none;
    color: rgb(141, 138, 138);
    background-color: white;
    width: 100px;
    height: 35px;
    margin-top: 1%;
    font-size: 14px;
}

.goBack:hover {
    background-color: rgb(202, 194, 194);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-weight: 700px;
    margin-top: 1%;
    font-size: 14px;
}