.number-circle {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: rgb(81, 81, 226);
    display: grid;
    justify-content: center;
    place-content: center;
    margin: 12% 7% 0 0;
    color: white;
}

.stageNumberButton {
    background-color: rgb(81, 81, 226);
    border: none;
    color: inherit;
}
.stageNumberButton :hover{
    height: 30px;
    width: 30px;
    background-color: aquamarine;
}

.number-circle :hover {
    background-color: aquamarine;
    height: 30px;
    width: 30px;
    display: grid;
    justify-content: center;
    place-content: center;
    border: 2px solid rgb(131, 218, 221);
    border-radius: 100px;

}